* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
}
.container {
  padding: 20px;
  text-align: center;
  font-family: monospace;
}

.header_line {
  background-color: #f08;
  width: 100%;
  height: 30px;
  position: fixed;
  left: 0;
  top: 0;
}
